h1, h2, h3{
    text-align: center;
}
[v-cloak]{
     display:none 
}
img{
    float: left;
}
*{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
.clear{
    clear: both;
}