<!DOCTYPE html>
<html lang="en"  id="abc">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE GALLERY FROM API</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/setSize.js"></script>
</head>
<body>
    <header>
        <h1>WELCOME to this GALLERY!</h1>
    </header>
    <section id="app" v-cloak>
        <h2 >{{title}}</h2>
        <arr-images/> 
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/ArrImages.js"></script>
    <script>
        let vm = new Vue({
            el: "#app",
            data () {
                return {
                    title: "VUE GALLERY from",
                }
            }
        })
    </script>
</body>
</html>